extends ../main.layout.pug

block content
    .slider
        ul#slider-main.slider__list
            - var n = 1;
            while n < 4
                li.slider__item.promo
                    .promo__image
                        img.promo__pic(src="img/promo/0" + n + ".png" alt="promo0" + n)
                    .promo__box
                        h2.promo__title Lorem ipsum dolor sit amet
                        .promo__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh<br>euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        a.btn.btn--animate.btn--white(href="#") Read more
                - n++;
        span.slider__arrow.arrow.arrow--left#slider-prev
        span.slider__arrow.arrow.arrow--right#slider-next

    .whatme
        .whatme__wrap
            h2.title What We Wo
            .subtitle.subtitle--whatme Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .whatme__row
                .whatme__item.chart
                    .chart__circle
                        canvas.chart__canvas#chart-design(width="223" height="223")
                    .chart__percent 81%
                    .chart__title Unique design
                    .chart__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                .whatme__item.chart
                    .chart__circle
                        canvas.chart__circle#chart-template(width="223" height="223")
                    .chart__percent 40%
                    .chart__title Site Template
                    .chart__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
                .whatme__item.chart
                    .chart__circle
                        canvas.chart__circle#chart-wp(width="223" height="223")
                    .chart__percent 60%
                    .chart__title Wp Theme
                    .chart__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.

    .services
        h2.title Services
        .subtitle.subtitle--services Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .services__row
            - var titles = ['Unique design', 'Site Template', 'Wp Theme', 'eCommerce'];
            - var n = 1;
                each val in titles
                    .services__item.service
                        img.service__picture(src="img/services/services0" + n + ".svg" alt="pict0" + n)
                        .service__box
                            .service__title= val
                            .service__desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.
                        - n++;

    .works
        .works__wrap
            h2.title.title--works Recent work
            nav.nav-works
                ul.nav-works__list
                    - var links = ["All", "Web Design", "Site Template", "Wordpress Theme"];
                        each val in links
                            li.nav-works__item
                                a.nav-works__link(href="#")= val
            .works__box
                - var number = 1;
                while number < 7
                    .works__item
                        .works__photo
                            img.works__image(src="img/works/work0" + number + ".jpg" alt="work0" + number)
                        .works__popup.popup
                            .popup__wrap
                                img.popup_image(src="img/works/icon.svg" alt="icon")
                                .popup__title Project Title Here
                                a.btn.btn--white(href="#") View Work
                    - number++;

            .works__control
                .control.control--left
                    a.control__link(href="#") Left

                .dot
                    - var n = 1;
                    while n < 5
                        a.dot__control(href="#")
                        - n++;

                .control.control--right
                    a.control__link(href="#") Right

    .tweets
        .tweets__wrap
            h2.title.title--tweets New Tweets
            ul#slider-tweets.tweets__list
                - var n = 1;
                while n < 5
                    li.tweets__item.tweet
                        .tweet__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
                        .tweet__wrap
                            .tweet__author @themefire
                            .tweet__date 35 seconds ago
                            a.btn.btn--green(href="#") Follow Us
                    - n++;

    .posts
        .posts__wrap
            h2.title Recent posts
            .subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            - var category_obj = [{number:10, category: "Web Design"}, {number:167, category: "Video"}, {number:55, category: "Photo"}];
            each val in category_obj
                .posts__item.post
                    .post__picture
                        img.post__image(src="#" alt="#")
                    .post__square square
                    .post__title Lorem ipsum dolor sit amet
                    .post__info
                        span.post__text by
                        span.post__author John Doe
                        span.post__text /
                        span.date January 25, 2014
                    hr.post__hr
                    .post__excerpt Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    .post__footer
                        .post_comment
                            i.fa.fa-comments(aria-hidden="true")
                            span.post__comm-number= val.number
                            span.post__foo-text Comments
                        .post__category
                            i.fa.fa-lightbulb-o(aria-hidden="true")
                            span.post__cat-name= val.category
                            span.post__foo-text Category

            .posts__control.control.control--left
                a.control__link(href="#") Left

            .dot
                - var n = 1;
                while n < 5
                    a.dot__control(href="#")= n++

            .posts__control.control.control--right
                a.control__link(href="#") Right

    .pricing
        .pricing__wrap
            h2.title Pricing Tables
            .subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            - var pricing_obj = [{price: 99, name: "Basic"}, {price: 159, name: "Standart"}, {price: 299, name: "Unlimited"}];
                each val in pricing_obj
                    .pricing__item
                        .pricing__name= val.name
                        .price
                            span.price__text $
                            span.price__value= val.price
                            span.price__text / month
                        .pricing__services.services
                            ul.services__list
                                - var titles = ['Web Design', 'Photography', 'WordPress', 'Html Templates', 'eCommerce'];
                                each val in titles
                                    li.services__item= val
                        a.btn.btn--pricing(href="#") Purchase

    .contacts
        .contacts__wrap
            .contacts__item
                img.contacts__picture(src="#" alt="#")
                .contacts__title Address
                .contacts__text 1600 Pennsylvania Avenue NW<br>Washington, DC 20500
            .contacts__item
                img.contacts__picture(src="#" alt="#")
                .contacts__title Phones
                span.contacts__text +32 4 8906 6004 - Office<br>+32 4 8522 6218 - Fax
            .contacts__item
                img.contacts__picture(src="#" alt="#")
                .contacts__title Mail
                span.contacts__text.contacts__text--dots support@7heaven.com
                span.contacts__text - Support
                span.contacts__text.contacts__text--dots info@7heaven.com
                span.contacts__text - InfoCenter

    .location
        .location__wrap
            h2.title Our Location
            .subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            .location__map

    .feedback
        .feedback__wrap
            h2.title FeedBack
            .subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            form.feedback__form.form(method="post" action="#" name="feedback")
                input.form__item(type="text" placeholder="John Doe" name="username")
                input.form__item(type="email" placeholder="EMail" name="email")
                textarea.form__textarea(name="textarea")
                button.btn(type="submit") Post Comment

    .partners
        h2.title Our partners
        .subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .partners__item
            - var n = 1;
            while n < 5
                a.partners__link(href="#")
                    img.partners__image(src="#" alt="#")
                - n++;

    .subscribe
        form.subscribe__form.form(method="post" action="#" name="subscribe")
            input.form__item(type="email" placeholder="EMail" name="email")
            button.btn(type="submit") Subscribe
        .subscribe__text * We promise to keep all your detalis safe and we wont send spam!